/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: #eee; }
p,h1,h2,h3,h4,h5,ul,li{margin: 0;padding: 0;}

.navbar {
    background-color: #000000 !important;
    padding: 0;
}
// .navbar {padding: 0.5rem 1rem 0.5rem 1rem;}
.left{width:200px}
.right{width:calc(100% - 200px)}
.tog-btn{
    padding: 10px 14px!important;
    position: absolute;
    top: 2px;
    left: 170px;
}
// span.rotate-1{
//     -ms-transform: skewY(20deg); /* IE 9 */
//   -webkit-transform: skewY(20deg); /* Safari 3-8 */
//   transform: skewY(20deg);
// }

@media (max-width:991px){
    .left{width:calc(100% - 55px)}
    .right{width:auto!important}
    .show{display: none;}
}